<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addIngredient()" [formGroup]="ingredientForm">
      <div class="row">
        <div formGroupName="ingredientData">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <span
              *ngIf="!ingredientForm.get('ingredientData.name').valid && ingredientForm.get('ingredientData.name').touched"
              class="help-block">
                <span *ngIf="ingredientForm.get('ingredientData.name').errors['ingredientIsForbidden']">This ingredient is invalid!</span>
                <span *ngIf="ingredientForm.get('ingredientData.name').errors['required']">This field is required!</span>
            </span>
          </div>
          <div class="col-sm-4 col-md-3">
            <label for="amount">Amount</label>
            <input type="number" formControlName="amount" id="amount" class="form-control">
            <span
              *ngIf="ingredientForm.get('ingredientData.amount').invalid && ingredientForm.get('ingredientData.amount').touched"
              class="help-block">
              <span *ngIf="ingredientForm.get('ingredientData.amount').errors['required']">This field is required!</span>
              <span *ngIf="ingredientForm.get('ingredientData.amount').errors['max']">The maximum value is {{ingredientForm.get('ingredientData.amount').errors['max'].max}}</span>
              <span *ngIf="ingredientForm.get('ingredientData.amount').errors['valueIsNegative']">The value must be equal or greater than 0!</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
