<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" email name="email" class="form-control" required ngModel #email="ngModel">
          <span *ngIf="email.invalid && email.touched" class="help-block">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select name="subscription" id="subscription" class="form-control" required [ngModel]="selectedSubscription">
            <option *ngFor="let subs of subscriptions" [value]="subs">{{ subs }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" required ngModel #password="ngModel">
          <span *ngIf="password.invalid && password.touched" class="help-block">Please enter a valid password!</span>
        </div>
        <div class="form-group">
          <span *ngIf="f.invalid && f.touched" class="help-block">This form is invalid!</span>
          <button [disabled]="f.invalid" type="submit" class="btn btn-success" style="margin-top: 10px;">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
